<div class="container-fluid">
  <app-pagetitle title="Interest Table"></app-pagetitle>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div>
            <!--  -->
            <a href="javascript:void(0);" class="btn btn-success mb-2" (click)="openModal(content)">
              <i class="mdi mdi-plus mr-2"></i> Add Interest
            </a>
          </div>
          <!-- <h4 class="card-title">Interest Data Table</h4> -->
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length">
                <label class="d-inline-flex align-items-center">Show
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2"
                    (change)="itemsPerPageChange($event.target.value)">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                    <option [ngValue]="20">20</option>
                  </select> entries</label>
              </div>
            </div>
            <!-- Search -->

            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                  class="d-inline-flex align-items-center">Search:
                  <input type="text" name="Name" class="form-control form-control-sm ml-2" aria-controls="tickets-table"
                    [(ngModel)]="Name" placeholder="By Name" (ngModelChange)="search(Name)"></label></div>

            </div>
            <!-- End search -->

        </div>
        <div class="table-responsive">
          <table id="basic-datatable"
            class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
            <thead>
              <tr>
                <th sortable="Name" (click)="onSort('Name','asce')">Name</th>
                <!-- <th >Name</th> -->
                <th sortable="Category" (click)="onSort('Category','asce')">Category</th>
                <!-- <th >Icon</th> -->
                <th sortable="Description" (click)="onSort('Description','asce')">Description</th>
                <th>Actions</th>
                
              </tr>
            </thead>
            <tbody *ngFor="let table of data">
              <tr>
                <td>{{table.Name}}</td>
                <td>{{table.Category}}</td>
                <!-- <td>{{table.Icon}}</td>  -->
                <td>{{table.Description}}</td>
                
                  <td>
                    <div ngbDropdown placement="bottom-left">
                      <i class="mdi mdi-dots-vertical dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                        aria-expanded="true"></i>
                      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript: void(0);"
                          (click)="editClick(table); openModal(content)"><i class="ri-edit-fill"></i>
                          Edit</a>
                        <a class="dropdown-item" href="javascript: void(0);"
                          (click)="openModal(confirmModal); DeleteInterest(table.InterestId)"><i
                            class="ri-delete-bin-fill"></i>
                          Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{startIndex}} to
                {{endIndex}} of {{totalinterestCount}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [(page)]="PageIndex" [pageSize]="pageSize" [collectionSize]="totalinterestCount"
                  (pageChange)="pageChange($event)">
                  <ng-template ngbPaginationPrevious>Prev</ng-template>
                  <ng-template ngbPaginationNext>Next</ng-template>
                  <ng-template ngbPaginationNumber let-p>{{p}}

                  </ng-template>
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Contacts model  -->
<ng-template #content role="document" let-modal="close">
  <div class="modal-header">
    <h5 class="modal-title">{{btnType}} Interest</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <div class="text-left">
      <form (ngSubmit)="saveData()" [formGroup]="validationform">
        <input type="hidden" class="form-control" id="InterestId" formControlName="InterestId" value="0">
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="text" class="form-control" id="Name" placeholder="Enter name" formControlName="Name"
            [ngClass]="{'is-invalid': submitted && form.Name.errors}">
          <div *ngIf="submitted && form.Name.errors" class="invalid-feedback">
            <span *ngIf="form.Name.errors.required">Name is mendatory.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="Category">Category</label>
          <input type="text" class="form-control" id="Category" placeholder="Enter Category" formControlName="Category"
            [ngClass]="{'is-invalid': submitted && form.Category.errors}">
          <div *ngIf="submitted && form.Category.errors" class="invalid-feedback">
            <span *ngIf="form.Category.errors.required">Category is mendatory.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="Icon">Icon</label>
          <input type="text" class="form-control" id="Icon" placeholder="Enter Icon" formControlName="Icon"
            [ngClass]="{'is-invalid': submitted && form.Icon.errors}">
          <div *ngIf="submitted && form.Icon.errors" class="invalid-feedback">
            <span *ngIf="form.Icon.errors.required">Icon is mendatory.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="Description">Description</label>
          <input type="text" class="form-control" id="Description" placeholder="Enter Description"
            formControlName="Description" [ngClass]="{'is-invalid': submitted && form.Description.errors}">
          <div *ngIf="submitted && form.Description.errors" class="invalid-feedback">
            <span *ngIf="form.Description.errors.required">Description is mendatory.</span>
          </div>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-success">{{btnType}}</button>
          <button type="button" class="btn btn-danger ml-1" (click)="modal('close click')">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>


<!-- Confirmation model  -->
<ng-template #confirmModal role="document" let-modal="close">
  <div class="modal-header">
    <h5 class="modal-title">Delete Interest</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <div class="text-left">
      <p>Are you sure you want to delete?</p>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-danger" (click)="Delete()">Delete</button>
      <button type="button" class="btn btn-light ml-1" (click)="modal('close click')">Cancel</button>
    </div>
  </div>
</ng-template>