<div class="container-fluid">
  <app-pagetitle title="Event"></app-pagetitle>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- <div>
            <a href="javascript:void(0);" class="btn btn-success mb-2" (click)="openModal(content)">
              <i class="mdi mdi-plus mr-2"></i> Add School
            </a>
          </div> -->
          <!-- 
          <h4 class="card-title">Advanced Data Table</h4>
          <p class="card-sub-title">
            Example of datatable.
          </p> -->
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length">
                <label class="d-inline-flex align-items-center">Show
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    (change)="itemsPerPageChange($event.target.value)"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                    <option [ngValue]="20">20</option>
                  </select> entries</label>

              </div>
            </div>
            <!-- [(ngModel)]="service.pageSize" -->
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right">
                <label class="d-inline-flex align-items-center">Search:
                  <input type="text" name="Name" class="form-control form-control-sm ml-2" aria-controls="tickets-table"
                    [(ngModel)]="Name" placeholder="Name" (keyup)="Search(Name,City)">
                  <input type="text" name="City" class="form-control form-control-sm ml-2" aria-controls="tickets-table"
                    [(ngModel)]="City" placeholder="City" (keyup)="Search(Name,City)">
                </label>
              </div>
            </div>
            <!-- End search -->
          </div>

          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr>
                  <th></th>
                  <th sortable="Name" (click)="onSort('Name','asce')">Name</th>
                  <th sortable="Description" (click)="onSort('Description','asce')">Description</th>
                  <th sortable="PublicEvent" (click)="onSort('PublicEvent','asce')">PublicEvent</th>
                  <th sortable="Capacity" (click)="onSort('Capacity','asce')">Capacity</th>
                  <th sortable="EventTime" (click)="onSort('EventTime','asce')">EventTime</th>
                  <th>Location</th>
                  <th>Action</th>
                  <!-- <th >Address Line1</th> -->
                  <!-- <th >StreetAddress2</th> -->
                  <!-- <th sortable="City" (click)="onSort('City','asce')">City</th>
                  <th sortable="State" (click)="onSort('State','asce')">State</th>
                  <th sortable="Zipcode" (click)="onSort('Zipcode','asce')">Zipcode</th>
                  <th sortable="Country" (click)="onSort('Country','asce')">Country</th>
                  <th >Location</th> -->
                  
                </tr>
              </thead>
              <tbody *ngFor="let table of data ; let i=index">
                <tr>
                  <td align="center">
                    <a class="expand-row" (click)="changeValue(i)">
                      +
                    </a>
                  </td>
                  <td>{{table.Name}}</td>
                  <td>{{table.Description}}</td>
                  <td>{{table.PublicEvent}}</td>
                  <td>{{table.Capacity}}</td>
                  <!-- <td>{{table.EventTime | date:'MMM dd yyyy hh:mm:ss a':'+0530'}}</td> -->
                  <td>{{table.EventTime +'Z' | date:'MMM dd yyyy hh:mm:ss a'}}
                      {{timezone}}
                  </td>

                  <!-- <td>{{table.StreetAddress2}}</td> -->

                  <td> <a class="dropdown-item" href="javascript: void(0);"
                      (click)="placeMarker(table.Latitude,table.Longitude);openMap(mapModal)">
                      <i class="ri-map-pin-fill"></i>
                    </a></td>
                  <!-- <div ngbDropdown placement="bottom-left">
                    <i class="mdi mdi-dots-vertical dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                      aria-expanded="true"></i>
                  </div> -->
                  <td>
                    <a class="dropdown-item" href="javascript: void(0);" [routerLink]="['/event-detail', table.EventId]">
                      <i class="ri-eye-fill"></i>
                      View Details</a>
                      </td>
                   
                  
                  <!-- <td>
                    <div ngbDropdown placement="bottom-left">
                      <i class="mdi mdi-dots-vertical dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                        aria-expanded="true"></i>
                      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript: void(0);" (click)=" editClick(table); openModal(content)"><i
                            class="ri-edit-fill"></i>
                          Edit</a>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="openModal(confirmModal); DeleteSchool(table.SchoolId)"><i
                            class="ri-delete-bin-fill"></i>
                          Delete</a>
                      </div>
                    </div>
                  </td> -->
                </tr>

                <tr *ngIf="!hideme[i]" class="sub-table no-bg">
                  <td align="center"> </td>
                  <td colspan="15" class="p-0">
                    <table class="table mb-0 table-striped">
                      <thead>
                        <tr>
                          <th>Address Line1</th>
                          <th>City</th>
                          <th>State</th>
                          <th>Zipcode</th>
                          <th>Country</th>

                        </tr>
                      </thead>
                      <!-- <tbody> -->
                        <tr>

                          <td>{{table.StreetAddress1}}</td>
                          <td>{{table.City}}</td>
                          <td>{{table.State}}</td>
                          <td>{{table.Zipcode}}</td>
                          <td>{{table.Country}}</td>

                        </tr>
                     <!-- </tbody> -->
                    </table> 
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{startIndex}} to
                {{endIndex}} of {{totalEventCount}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [(page)]="PageIndex" [pageSize]="pageSize" [collectionSize]="totalEventCount"
                  (pageChange)="pageChange($event)">
                  <ng-template ngbPaginationPrevious>Prev</ng-template>
                  <ng-template ngbPaginationNext>Next</ng-template>
                  <ng-template ngbPaginationNumber let-p>{{p}}




                  </ng-template>
                </ngb-pagination>
                <!-- EndPagination -->




                <ng-template #mapModal role="document" let-modal="close">
                  <div class="modal-header">
                    <h5 class="modal-title">Location</h5>
                    <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body p-3">

                    <agm-map [latitude]="latitude" [longitude]="longitude" style="height: 300px">
                      <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude"
                        [longitude]="marker.longitude">
                      </agm-marker>
                    </agm-map>

                    <div id="streetview-container">
                      <div id="streetview-map" #streetviewMap></div>
                      <div id="streetview-pano" #streetviewPano></div>
                    </div>

                  </div>
                </ng-template>

              </div>
              <!-- End Pagination -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <agm-map [latitude]="latitude" [longitude]="longitude" style="height: 200px">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)"></agm-marker>
      </agm-map>
    </div>